@model IEnumerable<Transportsystem_GoogleMaps.Models.Package>
@{
    ViewBag.Title = "Packages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Packages</h2>
<p>
    @Html.ActionLink("New Package", "New", "Package", null, new { @class = "btn btn.btn-primary" })
</p>
<table id="packages" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Content</th>
        <th>Destination</th>
        <th>Status</th>
        <th>Planned Delivery Date</th>
        <th>Date Delivered</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#packages").DataTable({
                ajax: {
                    url: "/api/package",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "content",
                        render: function(data, type, package) {
                            return "<a href='/package/edit/" + package.id + "'>" + package.content + "</a>";
                        }
                        
                    },
                    {
                        data: "destination"
                    },
                    {
                        data: "status"         
                    },
                    {
                        data: "plannedDeliveryDate",
                        render: function (data) {
                            if (data === null)
                                return "not found";
                            else
                                return data;
                        }
                    },
                    {
                        data: "dateDelivered",
                        render: function (data) {
                            if (data === null)
                                return "not found";
                            else
                                return data;
                        }

                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-package-id=" + data + ">Delete</button>";
                        }
                    }
                   
                ]
            });

            $("#packages").on("click",".js-delete", function() {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this package?", function(result) {
                    if (result) {
                        $.ajax({
                            url: "/api/package/" + button.attr("data-package-id"),
                            method: "DELETE",
                            success: function() {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                 });
            });
        });
    </script>

}



