@model IEnumerable<Transportsystem_GoogleMaps.Models.Package>

@{
    ViewBag.Title = "Deliveries";
}

<h2>Delivery</h2>



<body>
    <ul>
        @foreach (var package in Model)
        {
            <li>@package.Content</li>
        }

    </ul>

</body>

@section scripts
{
<script>
        $(document).ready(function () {
           
            

            
        });
</script>

}