@model List<Transportsystem_GoogleMaps.Models.Package>

@{
    ViewBag.Title = "Deliveries";
}
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>

<body>
<h2>Delivery</h2>
<div id="map"></div>

</body>

<script>
    function initMap() {
        var model = @Html.Raw(Json.Encode(Model));
       

        var center = { lat: model[0].Latitude, lng: model[0].Longitude };
        var map = new google.maps.Map(document.getElementById('map'),
            {
                zoom: 8,
                center: center
            });
              
        for (var i = 0; i < model.length; i++) {
            new google.maps.Marker({
                position: { lat: model[i].Latitude, lng: model[i].Longitude },
                map: map
            });
        }
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfR-nnn-eyRG42Qu0T_AnwttgCVuy8i88&callback=initMap">
</script>

